body, html{
	height:100% ;
	margin:0 ;
	font-size:16px ;
	font-family:"Lato", san-serif;
	font-weight:400 ;
	line-height:1.8em ;
	color:#666 ;
}

.pimg1, .pimg2, .pimg3{
	position:relative;
	opacity:0.70 ;
	background-position:center ;
	background-size:cover ;
	background-repeat:no-repeat ;
}

.pimg1{
	background-image:url('../imgs/view-of-high-rise-buildings-during-day-time-302769.jpg') ;
	min-height:100% ;
}


.pimg2{
	background-image:url('../imgs/man-standing-infront-of-white-board-1181345.jpg') ;
	min-height:400px ;
	
}


.pimg3{
	background-image:url('../imgs/person-writing-on-notebook-669615.jpg') ;
	min-height:400px ;
	
}


